* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
list-style: none;

}

header {
    background-color: #2b2829;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

position: sticky;
top: 0;
left: 0;
z-index: 999;



}

.div-icone i {
    font-size: 3rem;
    color: white;

}

.ul-lista {
    display: flex;
    gap: 20px;
   



}

.ul-lista a {
   
    color: rgb(0, 0, 0);
    background-color: #ededf0;
    padding: 6px;
    text-decoration: none;
    font-weight: 500;


}

.ul-lista li a:hover {
background-color: #2b2829;
transition: 0.8s;
color: white;


}

.nav-header {
display: flex;
justify-content: end;

}
.hamburguer {
display: none;

}

.Primeira {

    background-image: url(istockphoto-1797031057-612x612.jpg);
    background-size: cover;
    height: 30em;
    color: white;
    padding: 5em;
    display: flex;
    justify-content: start;
    align-items: center;




}


.div-01 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 30em;



}

.div-01 button:hover {
background-color: #2b2829;
transition: 0.8s;
color: white;


}
.div-01 button {
    width: 10rem;
    height: 3rem;
    border-radius: 20px;

}

.div-01 p {

    font-size: 20px;

}

.div-01 h1 {
    font-size: 50px;


}

.Segunda {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;


}

.Segunda img {
    width: 40em;
    height: 50em;



}

.Segunda h1 {
    display: flex;
    font-size: 50px;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;




}

.Div-h1 {
    width: 30em;
    padding-left: 3em;
    font-family: Arial, Helvetica, sans-serif;






}

.Segunda p {
    font-size: 20px;
    display: flex;




}

.Div-Paragrafo {
    padding-top: 2em;



}

.Div-Button {

    display: flex;
    align-items: center;
    padding-top: 3em;
    padding-left: 4em;


}

.bnt:hover {
background-color: #2b2829;
transition: 0.8s;
color: white;


}
.bnt {
    width: 15rem;
    height: 3rem;
    border-radius: 20px;
    color: black;
    border-color: rgb(0, 0, 0);
    border-width: 4px;

}

.Div-Imagem {
    padding: 30px;


}

.h1-unidades {
    text-align: center;
    font-size: 2em;



}

.Terceira img {
    width: 20em;
    border-radius: 15px;


}

.Terceira {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;


}

.Div-pai {
    display: flex;
    justify-content: space-evenly;
    gap: 6em;
    padding: 3em;
    text-align: center;


}


.Cartao-01 h1 {
    padding-top: 1em;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;

}

.Terceira p {
    padding-top: 10px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;


}

.Terceira button {
    width: 15rem;
    height: 3rem;
    border-radius: 10px;
    font-weight: bold;
    border-color: rgb(0, 0, 0);
    border-width: 6px;



}

.button-02 {
    padding-top: 10px;


}

.Terceira button:hover {
background-color: #2b2829;
transition: 0.8s;
color: white;


}

.Quarta {
padding: 3em;
background-color: rgb(39, 38, 38);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;



}

.Quarta a {
text-decoration: none;
color: white;

}

.Serviços {
text-align: center;
font-size: 2.5em;
color: white;

}

.Quarta img {
    width: 20em;
    border-radius: 15px;

}

.Pai-caixas {
  display: flex;
  justify-content: space-evenly;
  gap: 6em;
  padding: 2em;
  color: white;
  
 
  


}



.Pai-caixas h1 {
padding-top: 0.8em;

}

.Pai-caixas p {
padding-top: 0.8em;
text-align: center;
background-color: rgb(0, 0, 0);
padding: 0.4em;
width: 10em;
margin-left: 4em;
margin-top: 2em;



}

.corte {
    box-shadow: 10px 10px 30px rgb(214, 214, 214);
    transition: 0.8s;
    


}

.barba {
    box-shadow: 10px 10px 30px rgb(214, 214, 214);
    transition: 0.8s;


}

.CORTE-BARBA {

    box-shadow: 10px 10px 30px rgb(214, 214, 214);
    transition: 0.8s;

}

.corte:hover {
    box-shadow: 10px 10px 20px rgb(255, 251, 1);
    transition: 0.8s;

}

.barba:hover {
    box-shadow: 10px 10px 30px rgb(255, 251, 0);
    transition: 0.8s;

}

.CORTE-BARBA:hover {
    box-shadow: 10px 10px 30px rgb(255, 251, 0);
    transition: 0.8s;


}

.barbeiro {
padding-left: 0.5em;

}

footer {
display: flex;
justify-content: space-evenly;
align-items: center;
padding: 2rem 1rem;
gap: 7em;
background-color: #131212;





}

.ul-footer {
display: flex;
flex-direction: column;
gap: 10px;

}

.ul-footer li a {
text-decoration: none;
color: white;


}

.ul-footer li a:hover {
color: gray;
transition: 0.8s;

}

.div-icone2 i {
    font-size: 2rem;
    color: white;

}


.Container {
display: flex;
flex-direction: column;
gap: 20px;
justify-content: center;
align-items: center;


}

.Redes-Sociais {
padding: 0.5rem;
display: flex;
gap: 10px;


}

.Redes-Sociais i {
color: white;
font-size: 2rem;

}


.div-icone2   {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}

.line {
width: 10rem;
margin: 0.8rem;

}

@media (max-width:768px) {

.div-01 {
display: flex;
justify-content: center;
align-items: center;

}




.hamburguer {
display: flex;
padding: 0.3rem;
background: transparent;
color: white;
font-size: 1.5rem;

}



.ul-lista  {
display: none;
}



.Segunda{
flex-direction: column;


}

.Segunda img {
    width:20em;
    height: 30em;
    border-radius: 1em;
min-width: 360;



}



.Div-h1 p {
width: 15em;
text-align: center;
padding-left: 4em;


}

.h1-unidades {
font-size: 2.6em;

}


    .bnt {
        width: 75%; /* O botão ocupa 90% da tela menor */
        margin-right: 8em;
    }

    .Div-pai {
        flex-direction: column;
       
        
        
        }

.Cartao-01 img {

width: 18em;

}

.Pai-caixas {
flex-direction: column;


}

.Quarta img {
width: 18em;

}

footer {
   flex-direction: column;
   gap: 40px;
     



}

.ul-footer {
text-align: center;


}




}


















