* {
    margin: 0;


}

header {
    background-color: #493d3f;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;





}

.div-icone i {
    font-size: 3rem;

}

.ul-lista {
    display: flex;
    list-style: none;
    gap: 15px;



}

.ul-lista a {
    list-style: none;
    color: rgb(0, 0, 0);
    background-color: #ededf0;
    padding: 6px;


}

.Primeira {

    background-image: url(istockphoto-1797031057-612x612.jpg);
    background-size: cover;
    height: 30em;
    color: white;
    padding: 5em;
    display: flex;
    justify-content: start;
    align-items: center;




}


.div-01 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 30em;



}

.div-01 button {
    width: 10rem;
    height: 3rem;
    border-radius: 20px;

}

.div-01 p {

    font-size: 20px;

}

.div-01 h1 {
    font-size: 50px;


}

.Segunda {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;


}

.Segunda img {
    width: 40em;
    height: 50em;



}

.Segunda h1 {
    display: flex;
    font-size: 50px;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;




}

.Div-h1 {
    width: 30em;
    padding-left: 3em;
    font-family: Arial, Helvetica, sans-serif;






}

.Segunda p {
    font-size: 20px;
    display: flex;




}

.Div-Paragrafo {
    padding-top: 2em;



}

.Div-Button {

    display: flex;
    align-items: center;
    padding-top: 3em;
    padding-left: 4em;


}

.bnt {
    width: 15rem;
    height: 3rem;
    border-radius: 20px;
    color: black;
    border-color: rgb(0, 0, 0);
    border-width: 4px;

}

.Div-Imagem {
    padding: 30px;


}

.h1-unidades {
    text-align: center;
    font-size: 2em;



}

.Terceira img {
    width: 20em;
    border-radius: 15px;


}

.Terceira {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;


}

.Div-pai {
    display: flex;
    justify-content: space-evenly;
    gap: 10em;
    padding: 3em;
    text-align: center;


}


.Cartao-01 h1 {
    padding-top: 1em;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;

}

.Terceira p {
    padding-top: 10px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;


}

.Terceira button {
    width: 15rem;
    height: 3rem;
    border-radius: 10px;
    font-weight: bold;
    border-color: rgb(0, 0, 0);
    border-width: 6px;



}

.button-02 {
    padding-top: 10px;


}

.Quarta {
padding: 3em;
background-color: rgb(39, 38, 38);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;



}

.Serviços {
text-align: center;
font-size: 2.5em;
color: white;

}

.Quarta img {
    width: 20em;
    border-radius: 15px;

}

.Pai-caixas {
  display: flex;
  justify-content: space-evenly;
  gap: 6em;
  padding: 2em;
  color: white;
  
 
  


}



.Pai-caixas h1 {
padding-top: 0.8em;

}

.Pai-caixas p {
padding-top: 0.8em;
text-align: center;
background-color: rgb(0, 0, 0);
padding: 0.4em;
width: 10em;
margin-left: 4em;
margin-top: 1em;



}

.corte {
    box-shadow: 10px 10px 30px rgb(214, 214, 214);
    transition: 0.8s;
    


}

.barba {
    box-shadow: 10px 10px 30px rgb(214, 214, 214);
    transition: 0.8s;


}

.CORTE-BARBA {

    box-shadow: 10px 10px 30px rgb(214, 214, 214);
    transition: 0.8s;

}

.corte:hover {
    box-shadow: 10px 10px 20px rgb(255, 251, 1);
    transition: 0.8s;

}

.barba:hover {
    box-shadow: 10px 10px 30px rgb(255, 251, 0);
    transition: 0.8s;

}

.CORTE-BARBA:hover {
    box-shadow: 10px 10px 30px rgb(255, 251, 0);
    transition: 0.8s;


}

.barbeiro {
padding-left: 0.5em;

}

footer {
display: flex;
justify-content: space-evenly;
padding: 2em;
gap: 5em;
background-color: #493d3f;
align-items: center;
padding-left: 9em;



}

footer i {

font-size: 30px;
color: white;


}

.Redes-Sociais {
padding-top: 1.5em;
display: flex;
gap: 0.8em;

}

footer a {
color: white;


}

.List-Footer ul {
padding: 1em;
line-height: 2em;
list-style: none;




}

.div-icone2 i {
font-size: 2.5em;
padding-left: 0.7em;

}

.List-Footer a {
text-decoration: none;



}

