*{
margin: 0;


}

header {
background-color: #493d3f;
padding: 40px;
display: flex;
justify-content: space-between;
align-items: center;





}

.div-icone i {
font-size: 3rem;

}

.ul-lista {
display: flex;
list-style: none;
gap: 15px;



}

.ul-lista a {
list-style: none;
color: rgb(0, 0, 0);
background-color: #ededf0;
padding: 6px;


}
.Primeira {

    background-image: url(istockphoto-1797031057-612x612.jpg);
    background-size: cover;
    height: 30em;
    color: white;
    padding: 5em;
    display: flex;
    justify-content: start;
    align-items: center;




}


.div-01 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 30em;
   
   

}

.div-01 button {
    width: 10rem;
    height: 3rem;
    border-radius: 20px;

}

.div-01 p {

font-size: 20px;

}

.div-01 h1 {
font-size: 50px;


}

.Segunda {
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
padding: 20px;


}

.Segunda img {
width: 40em;
height: 50em;



}

.Segunda h1 {
display: flex;
font-size: 50px;
padding: 30px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;




}
.Div-h1 {
width: 30em;
margin-left: 30px;
font-family: Arial, Helvetica, sans-serif;




}

.Segunda p {
font-size: 20px;
display: flex;




}

.Div-Paragrafo {
margin-top: 20px;
background-color: cadetblue;


}